@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-light-text-primary bg-light-bg dark:text-dark-text-primary dark:bg-dark-bg transition-colors duration-300 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}